.button {
  border: solid 1px green;
  color: green;
  background-color: white;
  border-radius: 99em;
  min-width: 104.09px;
  height: 38px;
  font-size: 14px;
  line-height: 20px;
  text-align: center;
  margin-top: -8px;
}

.main__btn {
  border: solid 1px black;
  font-weight: 400;
  color: black;
  background-color: white;
  border-radius: 99em;
  width: 40.031;
  min-height: 20px;
  padding-left: 12px;
  padding-right: 12px;
  padding-top: 4px;
  padding-bottom: 6px;
  text-align: center;
  margin-top: 20px;
}

.tertiary {
  border: green 1px black;
  font-weight: 400;
  color: white;
  background-color: green;
  border-radius: 99em;
  width: 40.031;
  min-height: 20px;
  padding-left: 12px;
  padding-right: 12px;
  padding-top: 4px;
  padding-bottom: 6px;
  text-align: center;
  margin-top: 20px;
}