.surround {
  width: 744px;
  height: 258px;
  padding-left: 40px;
  padding-right: 40px;
  padding-top: 24px;
  padding-bottom: 24px;
  background-color: lightgray;
}

.content {
  display: flex;
  flex-direction: row;
}
.content__writer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.content__writer img {
  width: 128px;
  height: 128px;
  border-radius: 90%;
}
.content__middle {
  display: flex;
  flex-direction: column;
  max-width: 270.41px;
  margin-left: 24px;
}
.content__middle__text-title {
  display: flex;
  justify-content: flex-start;
  font-weight: bold;
  font-weight: 500;
  font-size: 20px;
}
.content__middle__text-min {
  max-width: 270.41px;
  font-size: 16px;
}
.content__arti {
  display: flex;
  flex-direction: column;
  width: 744px;
}