.container{
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 320px;
    justify-content: space-between;
    .left{
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        height: 55px;
        margin-top: 16px;
        margin-bottom: 16px;
        width: 265px;
        &__header{
            font-size: 16px;
            font-weight: 700;
            font-family: sohne, "Helvetica Neue", Helvetica, Arial, sans-serif;
        }
        .readTime{
            font-weight: 400;
            font-size: 13px;
        }
    }
    .right{
        display: flex;
        justify-content: flex-end;
        align-items: center;
        width: 55px;
        img{
            width: 55px;
            height: 55px;
        }
    }
}
